.product-carousel {
    position: relative;
    overflow: hidden;
    padding: 26px;
    width: 100%;
    
}

.product-container {
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width:100%;
    
    background-color: #F7F7F7;
    border-radius: 20px;
    margin-top: 30px;
}

/* .pre-btn,
.next-btn {
    border: none;
    width: 50px;
    
     height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
   
} */
/* .pre-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.next-btn {
    right: 0;
}

.next-btn p,
.pre-btn p {
    font-size: 30px;
    
   
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color:rgb(107, 96, 100)
} */

.pre-btn{
    /* border:1px solid red; */
    width:40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 960px;
    margin-right: 20px;
    background-color: #9FA6AC;
    
}
.next-btn{
    /* border:1px solid red; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #9FA6AC;
   

}
@media only screen and (max-width: 1400px) { 
   .pre-btn{
    margin-left: 50px;
    margin-right: 20px;
   } 
  }