*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}

input[type="checkbox"]{
  accent-color: green;
}
.Box {
  width: 100%;
}

@media screen and (min-width: 10em) {
  .Box {
    width: 50%;
  }
}

@media screen and (min-width: 48em) {
  .Box {
    width: 25%;
  }
}