.mycard {
    min-width: 250px;
    max-width: 250px;
    

    height: 600px;
    border-radius: 20px;
    margin: 10px;
    border:1px solid #F7F7F7;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left:20px;
    gap:20px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
