.AdminSideProductEditContainer{
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}

.adminSideProductEditBox{
    width: 90%;
    margin: auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminSideProductEditBox form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}